<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,user-scalable=0,maximum-scale=1.0,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="{{data.css}}"/>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/manifest.json">
    <link rel="mask-icon" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->

    <!-- Meta -->
    <meta name="keywords" content="{{data.keywords}}">
    <meta name="description" content="{{data.description}}">
    <!-- /Meta -->

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{data.title}}" />
    <meta property="og:description" content="{{data.description}}" />
    <meta property="og:image" content="{{data.main_image}}" />
    <meta property="og:url" content="{{data.site_url}}" />
    <meta property="og:site_name" content="{{data.site_name}}" />
    <!-- /Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:title" content="{{data.title}}">
    <meta name="twitter:description" content="{{data.description}}">
    <meta name="twitter:image" content="{{data.main_image}}">
    <meta name="twitter:site" content="@knightlab">
    <meta name="twitter:creator" content="@knightlab">
    <!-- /Twitter Card -->
</head>
